/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --cover-image: url("../images/cover-image-dark.png");
  --button-border: 1px solid var(--accent-color);
  --background-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
      --cover-image: url("../images/cover-image-dark.png");
      --background-color: #000028;
      --button-border: 1px solid var(--accent-color);
  }
}
